body{
    font-family: 'Arial' ,sans-serif;
    background-color: red;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#form-container{
    background-color: rebeccapurple;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.1);
    width: 400px;
}
.form-group{
    margin-bottom: 16px;
}
label{
    display: block;
    margin: 8px;
    font-weight: bold;
}
input{type="email"}
input{type="password"}
input{type="text"}
input{type=''}
textarea,
select{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea{
    height: 20px;
}
input{type}