table{
    width: 100%;
    font-family: aakar;
    border-collapse: collapse;
    background-image: url("assets/Images/bugatti.jpg");

}
td,th{
    border: 2px solid blue;
    padding: 10px;
}
th{
   color: darkgreen;
}
td{
    color: red;
}
h2{
    text-align: center;
    color: blue;
    font-size: xx-large;
    font-family: aakar;

}